<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2"/>
    <httpRuntime targetFramework="4.5.2"/>
  </system.web>


  <connectionStrings>
    <add name="HomestayDatabase" connectionString="Server=in-csci-aspnet;Database=apusapat;User Id=apusapat;Password=a9215pus;"/>
  </connectionStrings>

  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <add key="server" value="http://localhost:60926"/>
  </appSettings>

</configuration>